#app,
#replay {
  z-index: 0;
  position: relative;
  border: 1px solid rgba($color: gray, $alpha: 0.5);

  * {
    box-sizing: border-box;
  }
}

#replay {
  margin-top: 10em;
}

.mark {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 0;
}

.draggable {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba($color: gray, $alpha: 0.5);
  border-radius: 50%;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.1s;
  cursor: grab;
  user-select: none;
  &:hover {
    opacity: 1;
  }
  &.active {
    cursor: grabbing;
  }
}

.wrapper {
  z-index: 1;
  position: absolute;
  inset: 0;
  background-color: #fff;
  &.dark {
    background-color: #121212;
  }
}

$unit: 8px;
.bottom-left {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: $unit;
  left: $unit;
  padding: $unit;
}

.bottom-right {
  @extend .bottom-left;
  left: auto;
  right: $unit;
}

.bottom-hang {
  position: absolute;
  top: 100%;
  padding-top: $unit;
  user-select: none;
  label {
    cursor: pointer;
  }
  .row {
    display: flex;
    gap: 5px;
  }
}

.right-hang {
  width: 150px;
  position: absolute;
  left: 100%;
  top: 0;
  padding-left: $unit;
  user-select: none;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 16px 16px 64px;
  display: flex;
  align-items: center;
}

.bottom {
  position: absolute;
  bottom: $unit;
  left: $unit;
  right: $unit;
  padding: $unit;
  display: flex;
  align-items: center;
}
