$name: "fastboard-page-control";

.#{$name} {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &.light {
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #e5e8f0;
  }

  &.dark {
    color: #ddd;
    background-color: #14181e;
    border: 1px solid #383b42;
  }
}

.#{$name}-btn {
  appearance: none;
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 24px;
  line-height: 1;

  svg,
  img {
    width: 100%;
    height: 100%;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.light:not(:disabled):hover {
    background-color: #ebf2ff;
  }

  &.dark:not(:disabled):hover {
    background-color: #383b42;
  }
}

.#{$name}-cut-line {
  height: 24px;
  width: 0.5px;

  &.light {
    background-color: #e7e7e7;
  }

  &.dark {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.#{$name}-slash {
  opacity: 0.6;
}

.#{$name}-text {
  line-height: 24px;
}

.#{$name}-page,
.#{$name}-slash,
.#{$name}-page-count {
  font-size: 14px;
  font-variant-numeric: tabular-nums;
}
