$name: "fastboard-toolbar";

.#{$name} {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  .rc-slider {
    padding: 6px 0;
  }
  .rc-slider-rail,
  .rc-slider-track {
    height: 2px;
  }

  .tippy-content {
    padding: 8px;
  }
  .tippy-box {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba($color: #333, $alpha: 0.95);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  .tippy-box[data-theme~="light"] {
    background-color: rgba($color: #fff, $alpha: 0.95);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  &.light {
    color: #333;
    background-color: rgba($color: #fff, $alpha: 0.85);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  &.expanded {
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  &.dark {
    color: #ddd;
    background-color: rgba($color: #333, $alpha: 0.85);
  }

  &.expanded:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    transform: translate3d(0, 0, 0);
  }

  &.collapsed {
    padding: 0;
    background-color: transparent;
  }

  &-tooltip {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  &-hotkey {
    margin-right: -4px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &-btn {
    appearance: none;
    cursor: pointer;
    margin: 0;
    border: 0;
    padding: 4px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 24px;
    line-height: 1;
    position: relative;

    &-interactive {
      display: inline-block;
      width: 32px;
      height: 32px;
    }

    svg,
    img {
      width: 100%;
      height: 100%;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.light:not(:disabled):hover {
      background-color: rgba(51, 129, 255, 0.1);
    }

    &.dark:not(:disabled):hover {
      background-color: rgba(51, 129, 255, 0.25);
    }
  }

  &-triangle {
    width: 0px;
    height: 0px;
    border-bottom: 4px solid;
    border-left: 4px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &-cut-line {
    display: inline-block;
    height: 0.5px;
    width: 100%;

    &.light {
      background-color: #e7e7e7;
    }

    &.dark {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &-section {
    display: inline-flex;
    flex-flow: column nowrap;
    gap: 4px;
    scroll-behavior: smooth;

    &.collapsed {
      transform: translateX(-100%);
      transition: 1s transform;
    }
  }

  &-section + &-mask {
    opacity: 0;
    transition: 0.5s opacity 0.4s;
  }

  &-section:hover + &-mask,
  &-mask:hover {
    opacity: 1;
    transition: 0.2s opacity;
  }

  &-panel {
    width: 136px - 8px * 2;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;

    &.apps {
      width: 240px - 8px * 2;
    }
  }

  &-color-box,
  &-shapes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;

    .#{$name}-btn {
      padding: 0;
      width: 24px;
      height: 24px;
    }
  }

  &-apps {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;

    .#{$name}-btn {
      width: 40px;
      height: 40px;
      font-size: 0;
    }
  }

  &-app-icon {
    padding-top: 4px;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4px;

    .fastboard-toolbar-btn {
      padding: 0;
    }

    &-text {
      font-size: 12px;
      color: #5d5d5d;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-color-item {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;

    *.light:hover {
      background-color: #f5f5f5;
    }

    *.dark:hover {
      background-color: #333;
    }
  }

  &-color-border {
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.active.light {
      border: 1px solid rgba(51, 129, 255, 0.8);
    }

    &.active.dark {
      border: 1px solid rgba(51, 129, 255, 0.8);
    }
  }

  &-color-btn {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 0;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:focus-visible {
      outline-offset: 2px;
    }
  }

  &-mask {
    position: absolute;
    left: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.85;
    &.dark {
      left: calc(100%);
    }
  }

  &-mask-btn {
    width: 17px;
    height: 62px;
    cursor: pointer;
    opacity: 0.85;
    &.dark {
      filter: invert(0.8);
    }
  }

  &-expand-btn {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
  }
}
