$name: "fastboard-toolbar";

.#{$name} {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  .rc-slider {
    padding: 6px 0;
  }
  .rc-slider-rail,
  .rc-slider-track {
    height: 2px;
  }

  .tippy-content {
    padding: 8px;
  }
  .tippy-box {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba($color: #333, $alpha: 0.95);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  .tippy-box[data-theme~="light"] {
    background-color: rgba($color: #fff, $alpha: 0.95);
  }

  &.light {
    color: #333;
    background-color: rgba($color: #fff, $alpha: 0.85);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  &.dark {
    color: #ddd;
    background-color: rgba($color: #333, $alpha: 0.85);
    border: 1px solid rgba(0, 0, 0, 0.45);
  }

  &-btn {
    appearance: none;
    cursor: pointer;
    margin: 0;
    border: 0;
    padding: 4px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 24px;
    line-height: 1;
    position: relative;

    &-interactive {
      display: inline-block;
      width: 32px;
      height: 32px;
    }

    svg,
    img {
      width: 1em;
      height: 1em;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.light:not(:disabled):hover {
      background-color: rgba(51, 129, 255, 0.1);
    }

    &.dark:not(:disabled):hover {
      background-color: rgba(51, 129, 255, 0.25);
    }
  }

  &-triangle {
    width: 0px;
    height: 0px;
    border-bottom: 4px solid;
    border-left: 4px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &-cut-line {
    display: inline-block;
    height: 0.5px;
    width: 100%;

    &.light {
      background-color: #e7e7e7;
    }

    &.dark {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &-section {
    display: inline-flex;
    flex-flow: column nowrap;
    gap: 4px;
    scroll-behavior: smooth;
  }

  &-panel {
    width: 136px - 8px * 2;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
  }

  &-color-box,
  &-shapes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;

    .#{$name}-btn {
      padding: 0;
      width: 24px;
      height: 24px;
    }
  }

  &-color-item {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  &-color-border {
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.active.light {
      border: 1px solid rgba(51, 129, 255, 0.8);
    }

    &.active.dark {
      border: 1px solid rgba(51, 129, 255, 0.8);
    }
  }

  &-color-btn {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 0;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:focus-visible {
      outline-offset: 2px;
    }
  }
}
