.fastboard-root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fastboard-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.fastboard-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$unit: 8px;

.fastboard-left {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 48px);
  padding: $unit * 2;
  z-index: 201;
}

.fastboard-bottom-left {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: $unit;
  left: $unit;
  padding: $unit;
  z-index: 200;
}

.fastboard-bottom-right {
  @extend .fastboard-bottom-left;
  left: initial;
  right: $unit;
}
