@import "@netless/window-manager/dist/style.css";

.agora-whiteboard-root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.agora-whiteboard-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
