.fastboard-root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fastboard-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fastboard-left {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 62px;
  top: 8px;
  left: 0;
  z-index: 200;
  pointer-events: none;

  .fastboard-toolbar {
    padding-left: 16px;
  }
}

.fastboard-bottom-left {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 8px;
  z-index: 200;
  pointer-events: none;
}

.fastboard-bottom-right {
  @extend .fastboard-bottom-left;
  left: auto;
  right: 8px;
}

.fastboard-bottom {
  @extend .fastboard-bottom-left;
  right: 8px;
}

.fastboard-left,
.fastboard-bottom,
.fastboard-bottom-left,
.fastboard-bottom-right {
  &.hidden * {
    opacity: 0;
    pointer-events: none;
  }
}
