@import "../../variables.scss";

.#{$ns}-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.#{$ns}-placeholder {
  border: 1px solid blue;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$ns}-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: $z-main;
}
