#app {
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid rgba($color: gray, $alpha: 0.5);
}

.wrapper {
  position: absolute;
  inset: 0;
  background-color: #fff;
  &.dark {
    background-color: #121212;
  }
}

$unit: 8px;
.bottom-left {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: $unit;
  left: $unit;
  padding: $unit;
}

.bottom-hang {
  position: absolute;
  top: 100%;
  padding-top: 8px;
  user-select: none;
  label {
    cursor: pointer;
  }
  .row {
    display: flex;
    gap: 5px;
  }
}
