$name: "fastboard-player-control";

.#{$name} {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;

  &.auto-hide {
    opacity: 0;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .rc-slider-disabled {
    background: transparent;
    opacity: 0.5;
  }

  .rc-slider-rail,
  .rc-slider-track {
    height: 2px;
  }

  .tippy-content {
    padding: 8px;
  }
  .tippy-box {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba($color: #333, $alpha: 0.95);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  .tippy-box[data-theme~="light"] {
    background-color: rgba($color: #fff, $alpha: 0.95);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  &.light {
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #e5e8f0;
  }

  &.dark {
    color: #ddd;
    background-color: #14181e;
    border: 1px solid #383b42;
  }
}

.#{$name}-btn {
  appearance: none;
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
  min-width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 24px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg,
  img {
    width: 100%;
    height: 100%;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.light:not(:disabled):hover {
    background-color: #ebf2ff;
  }

  &.dark:not(:disabled):hover {
    background-color: #383b42;
  }

  &.loading {
    animation: fastboard-player-control-rotate 0.5s linear infinite;
  }

  @keyframes fastboard-player-control-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

.#{$name}-panel {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 4px;

  .#{$name}-btn {
    width: initial;
    height: initial;
    user-select: none;
    font-size: 14px;
    padding: 4px;
    justify-content: flex-end;

    &.active {
      color: #3381ff;
    }
  }
}

.#{$name}-slider {
  width: 100%;
  padding: 0 7px;

  &.loading {
    cursor: not-allowed;
  }
}

.#{$name}-slash {
  opacity: 0.6;
}

.#{$name}-current,
.#{$name}-slash,
.#{$name}-total,
.#{$name}-speed-text {
  font-size: 14px;
  font-variant-numeric: tabular-nums;
}
